/* global */
body {
    margin-top: 70px;
   font-family: 'Roboto', sans-serif; 
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Abel', sans-serif;
}

.services, .doctors, .testimonials {
    margin: 60px 0;
}
.footer {
    margin-top : 60px  
}
/* Navbar */
.navbar-alternative {
    background-color: lightseagreen;
    color: white;
}
.navbar-nav > li > a {
    color : #fff;
}
.nav > li > a:hover, .nav > li > a:focus  {
    background-color : teal;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color : teal;
}
a.navbar-brand {
    color : #fff;
}

.navbar-toggle i {
    font-size : 25px;
}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    color : teal;
}

@media (max-width: 767px) {
    a.navbar-brand {
        margin-top: 7px;
    }
    .dropdown-menu > li > a {
        color : #fff;
        background-color: teal;
    }

}

/* Carousel */

.carousel span.glyphicon.glyphicon-chevron-right, span.glyphicon.glyphicon-chevron-left {
    color : #d1eeee;
}

.footer {
    background: #333;
    color : #715654;
    padding: 35px 0;
}

.footer p.social-icon {
    font-size: 40px;
}

.footer h2 {
    color : #fff;
}
.footer ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer ul li a{
    color : #715654;
}
.footer ul li a:hover {
    color: #f05b43;
}
