/* global */
body {
    margin-top: 70px;
}

/* Navbar */
.navbar-alternative {
    background-color: lightseagreen;
    color: white;
}
.navbar-nav > li > a {
    color : #fff;
}
.nav > li > a:hover, .nav > li > a:focus  {
    background-color : teal;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color : teal;
}
a.navbar-brand {
    color : #fff;
}

.navbar-toggle i {
    font-size : 25px;
}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    color : teal;
}

@media (max-width: 767px) {
    a.navbar-brand {
        margin-top: 7px;
    }
    .dropdown-menu > li > a {
        color : #fff;
        background-color: teal;
    }

}

/* Carousel */

.carousel span.glyphicon.glyphicon-chevron-right, span.glyphicon.glyphicon-chevron-left {
    color : #d1eeee;
}

/* Services */
.services {
    margin: 25px 0;
}
